[Unit]
Description=fairu-chan
After=network.target
#After=<some required mounts maybe> (or see below for a better option, perhaps)

[Service]
# Assuming installed to /opt/fairu-chan, config in /etc/ directory.
WorkingDirectory=/opt/fairu-chan
ExecStart=/opt/fairu-chan/fairu-chan /etc/fairu-chan.yml daemon
# Reload the configuration and then kick the service to start running ASAP.
ExecReload=/bin/bash -c 'kill -SIGUSR2 $MAINPID && sleep 1 && kill -SIGUSR1 $MAINPID'
Restart=on-failure
RestartSec=5
KillSignal=SIGTERM

[Install]
# You could also make a custom target later than multi-user.target,
# set After=multi-user.target above, and then install this to the
# custom target with WantedBy.
WantedBy=multi-user.target
